.footer {
    position: relative;
    color: #ffffff;
    padding-top: 50px;
    overflow: hidden;
    background: repeat url(../img/promo__stars-bg.png);
    background-color: #172f56;
    z-index: 1;
    &__container {
        position: relative;
    }
    .container {
        &__pic {
            position: absolute;
        }
        &__pic-palm-leaves1 {
            top: 126px;
            left: -58px;
            transform: rotate(102deg);
        }
        &__pic-palm-leaves2 {
            top: 92px;
            right: 112px;
            transform: rotate(148deg);
            z-index: -1;
        }
        &__pic-palm-leaves3 {
            top: 47px;
            right: -68px;
            transform: rotate(180deg);
        }
        &__pic-leafs {
            top: 214px;
            left: 144px;
        }
    }
    &__elephant {
        position: absolute;
        top: 17%;
        left: -124px;
    }
    &__btn {
        margin: 25px auto 69px;
        border: solid 4px #ffffff;
        background-color: transparent;
        width: 420px;
        font-size: 27px;
        font-weight: bold;
        line-height: 29px;
        &:hover {
            border-color: #ccc;
        }
    }
    &__contacts {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contacts {
        padding-bottom: 51px;
        &__mesenger {
            padding-right: 80px;
            a {
                position: relative;
                text-decoration: none;
                color: #fff;
                display: block;
            }
            img {
                display: inline-block;
                position: relative;
                top: 4px;
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
        &__item {
            font-size: 15px;
            line-height: 30px;
            padding-left: 10px;
            position: relative;
            // display: block;
        }
        &__item2 {
            display: block;
        }
        &__sosial {
            line-height: 30px;
            transition: all .4s;
            img {
                display: inline-block !important;
                margin-right: 15px;
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
    &__rights {
        font-size: 11px;
        line-height: 30px;
        display: block;
        text-align: center;
    }
}