.promo {
    position: relative;
    min-height: 648px;
    background: repeat url(../img/promo__stars-bg.png);
    background-size: 150px;
    background-color: #172f56;
    overflow: hidden;
    z-index: 1;
    &__container {
        position: relative;
        z-index: 1;
    }
    &__container::after,
    &__container::before {
        position: absolute;
        content: '';
        width: 415px;
        height: 415px;
        background-color: #152c51;
        border-radius: 50%;
    }
    &__container::after {
        top: -213px;
        left: -251px;
        z-index: -11;
    }
    &__container::before {
        z-index: -3;
        top: 250px;
        right: -304px;
    }
    &__palm-container {
        position: relative;
        left: -49px;
        top: -209px;
    }
    .container__pic {
        position: absolute;
        &-palm-leaves1 {
            top: -133px;
            left: 246px;
            transform: rotate(22deg);
            z-index: 0;
        }
        &-palm-leaves2 {
            top: -68px;
            left: 277px;
            z-index: 0;
        }
        &-palm-leaves3 {
            top: -139px;
            left: 450px;
            transform: rotate(-15deg);
            z-index: 0;
        }
    }
    &__block {
        padding: 70px 0 0;
    }
    .title {
        position: relative;
        text-align: center;
        color: #fff;
        line-height: 61px;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    &__mark {
        font-size: 50px;
        z-index: 1;
    }
    &__mark:after {
        position: absolute;
        content: '';
        width: 910px;
        height: 47px;
        background-color: #da2626;
        left: 50%;
        top: 5px;
        transform: translate(-50%) rotate(-1deg);
        z-index: -1;
    }
    &__content {
        position: absolute;
        top: 157px;
        left: 284px;
        width: 1038px;
        height: 1038px;
        background-color: #da2626;
        border-radius: 50%;
        padding-top: 120px;
    }
    &__text {
        text-align: center;
        font-size: 40px;
        line-height: 50px;
        color: #fff;
        text-transform: uppercase;
        &-first {
            margin-top: 120px;
        }
    }
    .custom-text {
        font-size: 37px;
    }
    &__btn {
        margin: 42px auto 0;
        border: solid 4px #ffffff;
        width: 320px;
        font-size: 27px;
        font-weight: bold;
        line-height: 34px;
        &:hover {
            border-color: #ccc;
        }
    }
    .content {
        &__pic {
            position: absolute;
            &-arrow {
                top: -102px;
                right: 203px;
            }
            &-big-leaves1 {
                top: -18px;
                left: -115px;
                z-index: -1;
                transform: rotateX(0deg) rotateY(180deg) rotate(116deg);
                max-width: 38%;
            }
            &-big-leaves2 {
                top: 117px;
                left: -443px;
            }
            &-big-leaves3 {
                top: 175px;
                right: -73px;
                transform: rotate(79deg);
                max-width: 32%;
            }
            &-robot {
                top: 0;
                left: -66px;
            }
            &-branch {
                top: -11px;
                right: -39px;
                z-index: -1;
                // transform: rotate(-3deg);
            }
            &-leafs {
                top: -34px;
                right: 245px;
                z-index: -1;
            }
            &-bird {
                top: -126px;
                right: 0;
            }
        }
    }
}

@include r(1219) {
    .promo {
        &__palm-container {
            left: -225px;
            top: -196px;
        }
        &__content {
            left: 84px;
        }
        &__container::after {
            display: none;
        }
    }
}

@include r(1023) {
    .promo {
        min-height: 600px;
        &__mark {
            font-size: 44px;
        }
        &__mark:after {
            width: 764px;
            top: -1px;
        }
        .title {
            line-height: 48px;
        }
        .custom-text {
            font-size: 32px;
        }
        &__palm-container {
            left: -356px;
            top: -238px;
        }
        &__content {
            top: 214px;
            left: -30px;
            padding-top: 77px;
        }
        .content {
            &__pic-arrow {
                top: -133px;
                right: 236px;
            }
            &__pic-bird {
                top: -111px;
                right: 472px;
                width: 135px;
            }
            &__pic-robot {
                width: 220px;
                top: 25px;
                left: -11px;
            }
            &__pic-big-leaves1 {
                top: -51px;
                left: -113px;
            }
            &__pic-big-leaves2 {
                top: 147px;
                left: -357px;
            }
        }
    }
}

@include r(767) {
    .promo {
        padding-top: 67px !important;
        &__mark {
            font-size: inherit;
        }
        &__mark:after {
            width: 576px;
            top: -11px;
        }
        .title {
            line-height: 36px;
        }
        .custom-text {
            font-size: 25px;
        }
        &__content {
            top: 214px;
            left: 19px;
            width: 700px;
            height: 600px;
            padding-top: 77px;
        }
        &__text {
            font-size: 26px;
            line-height: 33px;
        }
        &__btn {
            max-width: 220px;
            font-size: 20px;
            line-height: 21px;
        }
        .content {
            &__pic-arrow {
                top: -154px;
                right: 95px;
            }
            &__pic-leafs {
                top: -15px;
                right: 175px;
                width: 100px;
            }
            &__pic-branch {
                top: -45px;
                right: -120px;
            }
            &__pic-bird {
                top: -111px;
                right: 289px;
                width: 135px;
            }
            &__pic-big-leaves2,
            &__pic-big-leaves3,
            &__pic-leafs {
                display: none;
            }
        }
    }
}

@include r(639) {
    .promo {
        min-height: 630px;
        &__mark:after {
            width: 330px;
            height: 84px;
        }
        &__content {
            top: 290px;
            left: calc(50% - 300px);
            width: 600px;
        }
        .container {
            &__pic-palm-leaves1,
            &__pic-palm-leaves2 {
                display: none;
            }
            &__pic-palm-leaves3 {
                top: -68px;
                left: 309px;
            }
        }
        .content {
            &__pic-arrow {
                display: none;
            }
            &__pic-big-leaves1 {
                width: 149px;
                top: -49px;
                left: 108px;
                transform: rotate(1deg);
            }
            &__pic-branch {
                top: -51px;
                right: 102px;
                width: 144px;
                transform: rotate(-38deg);
            }
            &__pic-bird {
                top: -136px;
                right: 152px;
                width: 86px;
            }
            &__pic-robot {
                width: 109px;
                left: calc(50% - 57px);
                top: -143px;
                z-index: -1;
            }
        }
    }
}