section.benefits.block
  .benefits__container.container
    h1.benefits__title.title Оцени преимущества взаимовыгодного сотрудничества
    ul.benefits__list
        li.benefits__item.item
            .item__head
                img(src="img/benefits__icon1.png", alt="benefints__image")
            p.item__title.text-red Собственные нутра-офферы
            p.item__text более 14 ниш
        li.benefits__item.item
            .item__head
                img(src="img/benefits__icon2.png", alt="benefints__image")
            p.item__title.text-red Выплаты ОТ 30$
            p.item__text за каждый лид
        li.benefits__item.item
            .item__head
                img(src="img/benefits__icon3.png", alt="benefints__image")
            p.item__title.text-red бесплатный перевод
            p.item__text промо-материалов за 24 часа
    button.benefits__btn.btn Узнать больше об офферах 