footer.footer
    .footer__container.container
        button.footer__btn.btn Бро, будь с лучшими
        img.footer__elephant(src="img/footer__elephant.png", alt="elephant-img")
        img.container__pic.container__pic-palm-leaves1(src="img/promo__palm-leaves.png", alt="palm__branch")
        img.container__pic.container__pic-palm-leaves2(src="img/promo__palm-leaves.png", alt="palm__branch")
        img.container__pic.container__pic-palm-leaves3(src="img/promo__palm-leaves.png", alt="palm__branch")
        img.container__pic.container__pic-leafs(src="img/promo__leafs.png", alt="leafs")

        .footer__contacts.contacts
            .contacts__mesenger
                p.contacts__item.contacts__item-skype rocketprofit.cpa 
                p.contacts__item.contacts__item-mail support@rocketprofit.com
            .contacts__sosial
                p.contacts__item2 Мы в социальных сетях:
                img(src="img/footer__cpa.png", alt="cpa")
                img(src="img/footer__telegram.png", alt="telegram")
                img(src="img/footer__facebook.png", alt="facebook")
                img(src="img/footer__vk.png", alt="vk")
        span.footer__rights © 2014-
            span.date-0(data-format="yyyy") 2020 
            |  RocketProfit. Все права защищены.

