header.header
    .header__container.container
        .header__logo
            img(src="img/header__logo.png", alt="Logo")
        nav.header__nav
            ul.header__list
                li.header__item.item 
                    a(href="") преимущества  
                li.header__item.item 
                    a(href="") офферы
                li.header__item.item 
                    a(href="") бонусы
                li.header__item.item 
                    a(href="") магазин
                li.header__item.item 
                    a(href="") отзывы
        .header__buttons
            button.header__singin-btn.btn Вход
            button.header__registration-btn Регистрация
