section.promo.promo__block.block
    .promo__container.container
        h1.promo__title-h1.title
            span.promo__mark Хочешь еще больше профита?
            br
            span.text-thin.custom-text Наливай на Таиланд с&nbsp;RocketProfit
        .promo__content.content
            p.promo__text.promo__text.text-bold забирай Х2 QUID
            p.promo__text.text-thin для покупок в магазине
            button.promo__btn.btn Хочу
            img.content__pic.content__pic-arrow(src="img/promo__arrow.png", alt="arrow")
            img.content__pic.content__pic-big-leaves1(src="img/promo__big-leaves.png", alt="leaves")
            img.content__pic.content__pic-big-leaves2(src="img/promo__big-leaves.png", alt="leaves")
            img.content__pic.content__pic-big-leaves3(src="img/promo__big-leaves.png", alt="leaves")
            img.content__pic.content__pic-robot(src="img/promo__robot.png", alt="robot")
            img.content__pic.content__pic-branch(src="img/promo__branch.png", alt="branch")
            img.content__pic.content__pic-leafs(src="img/promo__leafs.png", alt="leafs")
            img.content__pic.content__pic-bird(src="img/promo__bird.png", alt="bird")
    .promo__palm-container
        img.container__pic.container__pic-palm-leaves1(src="img/promo__palm-leaves.png", alt="palm__branch")
        img.container__pic.container__pic-palm-leaves2(src="img/promo__palm-leaves.png", alt="palm__branch")
        img.container__pic.container__pic-palm-leaves3(src="img/promo__palm-leaves.png", alt="palm__branch")
        .promo__circle


