section.statistics.block
  .statistics__container.container
    .statistics__robot-img
        img(src="img/statistics__robot-img.png", alt="robot")
    .statistics__calc-img
        img(src="img/statistics__calc-img.png", alt="robot")
        img(src="img/statistics__arrow.png", alt="robot")

    h2.statistics__title.title сколько бонусных QUID 
        br
        | я заработаю С ROCKETPROFIT
    ul.statistics__list
        li.statistics__item.item
            h4.item__title Сколько лидов на день ты льешь на ТАЙ?
            .item__info 25
        li.statistics__item.item
            h4.item__title Средний апрув:
            .item__info 57%
        li.statistics__item.item
            h4.item__title QUID ты заработаешь в месяц:
            .item__info 51300 QUID
        li.statistics__item.item
            h4.item__title МЫ УДВОИМ QUID*:
            .item__info 102 600 QUID
    button.statistics__btn.btn Расчитать
    span.statistics__help * Система статусов RocketProfit помогает увеличить заработок.
