section.video.block
    .benefits__container.container
        h2.video__title.title Работа с РокетПрофит - это
            br
            | крутые подарки и высокие выплаты!

        .video__review
            p.video__review-text Видео-отзыв от АдКлевер
                .youtube.video__youtube#y0Ic8QcvyK8
                    .video__img
                        img(src="img/video__bg-img.png", alt="AdClever")
    .video__buttons
            button.video__singin-btn.btn Вход
            button.video__registration-btn Регистрация
